.contray-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.visited{
    background-color: #646cff;
}
.nonVisited{
    background-color: #f9b05d;
}
.flag-conatiner img{
    width: 100px;

}